.about-pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
}
.about-pics > h1, .about-pics > p {
  padding: 0 2rem;
  margin: 0 auto 2rem auto;
}
.about-pics > div {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr;
  width: 100%;
  max-width: 1024px;
  min-height: 80vh;
}
.about-pics > div > div {
  background-size: cover;
  background-position: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-pics > div {
    grid: 1fr 1fr / 1fr 1fr;
  }
  .about-pics > div > div:first-child {
    grid-area: 1 / 1 / 3 / 2;
  }
}