.contact-form {
  max-width: 450px;
  width: 100%;
}
.contact-form label {
  display: flex;
  min-width: 0px;
  max-width: 450px;
  align-items: center;
  margin: 1rem;
}
.contact-form label span {
  width: 4rem;
}
.contact-form label input, .contact-form > div textarea {
  border: none;
  background: none;
  font-size: 1rem;
  flex: 1;
  padding: 5px 0.5rem;
  outline: none;
  border-bottom: 1px solid #333;
}
.contact-form > div {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 450px;
  margin: 1rem;
}
.contact-form > div textarea {
  width: 100%;
  max-width: calc(450px-2rem);
  min-height: 6rem;
  margin-top: 1rem;
  line-height: 1.5rem;
}
.contact-form > input[type='submit'] {
  font-size: 1.2rem;
  border: 1px solid #333;
  background: none;
  outline: none;
  padding: 5px 1rem;
}