.footer {
  margin-top: auto;
  padding: 2rem;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
}
.footer, .footer a {
  color: #999;
  text-decoration: none;
}
.footer > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}
.dev-info {
  width: 100%;
}
.dev-info a {
  color: #ccc;
}