.landing {
  min-height: 100vh;
  background-image: url('../img/landing.jpg');
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  text-align: center;
  padding: 2rem;
}
.landing h1 {
  font-size: 3rem;
  margin: auto auto 0 auto;
  margin-top: calc(50vh - 7rem);
}
.landing h4 {
  margin: 0 auto;
}
.landing a {
  margin: 5rem auto auto auto;
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem / 50%;
  background-color: #333;
}
.landing a:hover {
  background-color: #555;
}
.landing img {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 auto 4rem auto;
  width: 1.5rem;
  opacity: 0.6;
  cursor: pointer;
}
.landing img:hover {
  opacity: 0.8;
}
.home-services {
  text-align: center;
  padding: 4rem 0;
}
.home-services h1 {
  margin-top: 0;
}