@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 0;
  padding: 0;
  cursor: default;
  color: #333;
  background-color: #fafafa;
}
p {
  max-width: 1024px;
}
* {
  font-family: 'Open Sans', sans-serif;
}