.landing-sub {
  background-size: cover;
  background-position: bottom;
  min-height: 60vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.landing-sub h1 {
  font-size: 2.5rem;
  margin: auto auto 0 auto;
}
.landing-sub h4 {
  margin: 0 auto auto auto;
}
.test {
  height: 100vh;
}