.services-content hr {
  max-width: 1024px;
  width: 70vw;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(233, 233, 233, 0), rgba(233, 233, 233, 1), rgba(233, 233, 233, 0));
}
.content-desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.content-desc h1 {
  margin: auto auto 1rem auto;
}
.content-desc p {
  margin: 0;
}
.content-desc h1, .content-desc p, .card-section > h1, .card-section > p {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .content-desc h1, .content-desc p, .card-section > h1, .card-section > p {
    padding: 0 2rem;
  }
}