.services-content {
  padding: 2rem;
  background-color: #eee;
}
.content-desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-desc h1 {
  margin: 2rem;
}
.content-desc p {
  margin: 0;
}