.about-section {
  display: grid;
  grid: auto-flow dense / 1fr;
  margin: auto;
  max-width: 1200px;
}
.about-section img {
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .about-section {
    grid: auto-flow dense / 1fr 2fr;
  }
}